/* 
    Gap Colour: #000
    White: #F0F1EC
    Red: #E72F24
    Black: #232629
    Blue: #004592
    Yellow: #F9D01E
    For dimensions, see dimensions asigned to rows and colums.
    */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .masterpiece{
    display: grid;
    grid-template-rows: 414px 130px 155px 22px;
    grid-template-columns: 320px 198px 153px 50px;
    gap: 9px;
    width: 748px;
    background-color: #000;
  }
  .one{
    background-color: #E72F24;
  }

  .two{
    background-color: #F0F1EC;
    grid-column: span 3;
  }

  .three{
    background-color: #F0F1EC;
    grid-row: span 2;
  }

  .four{
    background-color: #F0F1EC;
    grid-row: span 2;
    grid-column: span 2;
  }

  .five{
    background-color: #004592;
    border-bottom: #000 solid 10px;
  }

  .six{
    background-color: #F0F1EC;
    grid-row: span 2;
  }

  .seven{
    background-color: #F0F1EC;
  }

  .eight{
    background-color: #F9D01E;
  }

  .nine{
    background-color: #232629;
  }